*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
margin-top: 200px;
border: 1px solid black;
padding: 50px;
border-radius: 2px ;
}
.search{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}
.search__btn{
    padding: 2px;
}
.search__title{
    font-size: 14px;
    font-family: sans-serif;
}
